<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manufacturers List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<style>
    body {
        background-color: rgb(123, 144, 238);
    }
</style>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Coral 9
                <h1 class="text-white" style="font-size:10px;">Andrej Novkovikj</h1>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="/manufacturers" sec:authorize="hasRole('ROLE_ADMIN')">Manufacturers</a>
                    <a class="nav-link" href="/categories" sec:authorize="hasRole('ROLE_ADMIN')">Categories</a>
                    <a class="nav-link" href="/all-products" sec:authorize="hasRole('ROLE_ADMIN')">Products</a>
                    <a class="nav-link" href="/shop/">SHOP</a>
                    <a class="nav-link" href="#">ABOUT US</a>
                    <th:block sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/login/">LOGIN</a>
                        <a class="nav-link" href="/register/">REGISTER</a>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/shopping-cart">CART</a>
                        <span class="nav-link">LOGGED IN AS:</span>
                        <a class="nav-link" th:text="${#authentication.name}"></a>
                        <a class="nav-link" href="/logout">LOGOUT</a>
                    </th:block>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container mt-5">
    <h2 class="text-white">Manufacturers List</h2>

    <table class="table table-striped table-light border-dark mt-3">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Email</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="manufacturer : ${manufacturer}">
            <td th:text="${manufacturer.id}"></td>
            <td th:text="${manufacturer.name}"></td>
            <td th:text="${manufacturer.description}"></td>
            <td th:text="${manufacturer.email}"></td>
            <td>
                <form method="post" action="/deleteManufacturer" th:action="@{/deleteManufacturer}" class="d-inline">
                <input type="hidden" name="id" th:value="${manufacturer.id}">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/add-manufacturer-form" class="btn btn-primary">Add New Manufacturer</a>
</div>



</body>
</html>
