<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>    
</head>
  <style>
    body {
        background-color: rgb(123, 144, 238);
    }
   
</style>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Coral 9
        <h1 class="text-white" style="font-size:10px;">Andrej Novkovikj</h1>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/manufacturers" sec:authorize="hasRole('ROLE_ADMIN')">Manufacturers</a>
          <a class="nav-link" href="/categories" sec:authorize="hasRole('ROLE_ADMIN')">Categories</a>
          <a class="nav-link" href="/all-products" sec:authorize="hasRole('ROLE_ADMIN')">Products</a>
          <a class="nav-link" href="/shop/">SHOP</a>
          <a class="nav-link" href="#">ABOUT US</a>
          <th:block sec:authorize="isAnonymous()">
            <a class="nav-link" href="/login/">LOGIN</a>
            <a class="nav-link" href="/register/">REGISTER</a>
          </th:block>
          <th:block sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/shopping-cart">CART</a>
            <span class="nav-link">LOGGED IN AS:</span>
            <a class="nav-link" th:text="${#authentication.name}"></a>
            <a class="nav-link" href="/logout">LOGOUT</a>
          </th:block>
        </div>
      </div>
    </div>
  </nav>
</header>



  <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
  <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
  <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
  <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
  <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>

        <div class="row justify-content-center">
          <div class="col col-lg-2">
            <h1><a class="nav-link active text-dark text-center " aria-current="page" href="#">MEN</a></h1>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
        
        <div class="row justify-content-center">
            <div class="col col-lg-2">
              <h3><a class="nav-link active text-light text-center " aria-current="page" href="/products/male/tshirt">T-SHIRTS</a></h3>
            </div>
        </div>

          <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
          <div class="row justify-content-center">
            <div class="col col-lg-2">
              <h3><a class="nav-link active text-light text-center " aria-current="page" href="/products/male/shirt">SHIRTS</a></h3>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
          <div class="row justify-content-center">
            <div class="col col-lg-2">
              <h3><a class="nav-link active text-light text-center " aria-current="page" href="/products/male/sweatshirt">SWEATSHIRTS</a></h3>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
          <div class="row justify-content-center">
            <div class="col col-lg-2">
              <h3><a class="nav-link active text-light text-center " aria-current="page" href="/products/male/jeans">JEANS</a></h3>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
          <div class="row justify-content-center">
            <div class="col col-lg-2">
              <h3><a class="nav-link active text-light text-center " aria-current="page" href="/products/male/pants">PANTS</a></h3>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
          <div class="row justify-content-center">
            <div class="col col-lg-2">
              <h3><a class="nav-link active text-light text-center " aria-current="page" href="/products/male/accessories">ACCESSORIES</a></h3>
            </div>
          </div>
    
      
                
                
      
    </div>

      
   
</body>
</html>